{{define "title"}}Home{{end}}

{{define "main"}}
  <!-- <h3>Under construction...</h3> -->
  <div class="arrest-grid">
    {{range .Arrests}}
    <div class="arrest-card">
      <img
        src="data:image/jpeg;base64,{{.ImageBase64}}"
        alt="Mugshot of {{.FullName}}"
      />
      <div class="arrest-details">
        <h2>{{.FullName}}</h2>
        <p><strong>ID:</strong> {{.ID}}</p>
        <p><strong>Age:</strong> {{.Age}}</p>
        <p><strong>Booking Date:</strong> {{.BookingDate}}</p>
      </div>
    </div>
    {{end}}
  </div>
{{end}}
